
radio {
  list-style-image: url("chrome://browser/skin/preferences/Options.png"); 
}

radio[pane=sqligen] {
	-moz-image-region: rect(0px, 32px,  32px, 0px);
}

radio[pane=sqligen]:hover, 
radio[pane=sqligen][selected="true"]  {
	-moz-image-region: rect(32px, 32px,  64px, 0px)
}


radio[pane=sqlistrings] {
	-moz-image-region: rect(32px, 224px,  64px, 192px);
}