.failed {
    color: red;
}

.passed {
    color: green;
}

.warning {
    color: #AAAA00;
}

p {
    margin: 0;
}

.testfields {
    list-style: none;
}

.title {
    color: #405068 !important;
}

.bar-status{
    text-align: right;
    width: 10%;
    white-space: pre;
}
.bar {
    width: 99%;
    border: thin solid
}
.percent {
    text-align: left;
    width: 6em;
}
.bar-passed {

}
.bar-warning{
}
.bar-failed{
}
li {
    list-style: none;
}
.passed {
    color: green;
}
.warning {
    color: #AAAA00;
}
.failed {
    color: red;
}
.title {
    color: #405068 !important;
}
fieldset {
    margin-bottom: 1em;
}

ul {
    margin: 0;
}
li {
    margin-top: .5em;
}

.errors {
    background-color: #ffAAAA;
}
.warn {
    background-color: #FFFF33;
}
.pass {
    background-color: #66FF66;
}
ul.errors, ul.warn, ul.pass {
    margin: 0;
    padding: 1em;
}
legend {
    font-size:large;
}